{% extends "base.html" %}

{% block head%}
<link rel="stylesheet" type="text/css" href="/static/css/select2.min.css"  />
<script src="/static/js/jquery.validationEngine.min.js"></script>
<script src="/static/js/jquery.validationEngine-zh_CN.js"></script>
<script type="text/javascript" src="/static/js/select2.min.js"></script>

<script type="text/javascript">

$(".js-example-basic-multiple").select2();

$('#form_id').validationEngine('attach', {
		  promptPosition: 'centerRight',
		  scroll: true,
		  autoHidePrompt:true,
		  autoHideDelay:3000,
		  showOneMessage:true,
		});

function  selectprojectonchange(){
            $("#selectproject").empty()
            departmentid = $("#departmentid").val();
            var departmentid = parseInt(departmentid)
            $.ajax({
                type:"POST",
                url:"{% url 'get_roles_from_department' %}",
                data:{'departmentid':departmentid},
                success:function(data){
                    roles = data['roles']
                    for(var i=0; i< roles.length; i++){
                        if( "{{ userinfo.get_user_role_name }}".indexOf(roles[i]) > 0  ){
                            $("#selectproject").append("<option selected='selected'>"+roles[i]+"</option>>")
                          }
                        else{
                             $("#selectproject").append("<option>"+roles[i]+"</option>>")
                        }
                    }
                },
                dataType:'json',
                });
        }

function reset_pwd(){
    $.ajax({
            type:"POST",
            url:"{% url 'reset_password' %}",
            data:{'uid': {{  userinfo.id }} },
            success:function(data){
                if ( !data['res'] ){
                    alert("密码重置错误");
                }else{
                    alert("重置密码成功");
                }
            },
            dataType:'json',
            });
}
</script>

{% endblock %}
{% block navigation %}
    <h1>
        修改用户
        <small>修改用户相关信息</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#">user</a></li>
      </ol>
{% endblock %}
{%block content%}
<div>
		<div class="modal-content">
		  	<div class="modal-header">
				<a href="{% url 'users_list' %}" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
				<h4 class="modal-title">用户修改</h4>
			</div>
			<div class="modal-body">
				<form method="post" id="form_id" class="form-horizontal" role="form"  enctype="multipart/form-data">{% csrf_token %}
                     <div class="form-group" style="display:none">
						 <label class="col-md-2 control-label">
							 用户ID:
						 </label>
						 <div class="col-md-4">
							 <input type="text" class="validate[required] form-control" id="name" name="userid" data-errormessage="请输入用户名" value="{{userinfo.id}}">
						 </div>
					 </div>
					 <div class="form-group">
						 <label class="col-md-2 control-label">用户名:</label>
						 <div class="col-md-4">
							 <input type="text" class="validate[required] form-control" id="name" name="username" data-errormessage="请输入用户名" value="{{userinfo.name}}">
						 </div>
						 <label class="col-md-0"><i class="fa fa-asterisk"> 必填</i></label>
					 </div>
					 	<div class="form-group">
						<label class="col-md-2 control-label">邮箱:</label>
						<div class="col-md-4">
							<input type="email" name="email" id="email"  class="validate[required,custom[email]] form-control colorpicker"
								   data-errormessage-value-missing="E-mail 不能为空" data-errormessage-custom-error="E-mail 格式应为：someone@nowhere.com" value="{{userinfo.email}}">
						</div>
						<label class="col-md-0"><i class="fa fa-asterisk"> 必填</i></label>
					 </div>
					 <div class="form-group">
						<label class="col-md-2 control-label">部门:</label>
						<div class="col-md-4"><!--selected="selected" -->
							<select id="departmentid"  name="departmentid"  onchange="selectprojectonchange()" class="validate[required] col-sm-9 js-example-basic-multiple">
                                    {% for group in groupinfo%}
                                        {% if group.name == userinfo.department.name %}
                                             <option selected="selected" value="{{ group.id }}" >{{group.name}}</option>
                                        {% else %}
                                            <option value="{{ group.id }}" >{{group.name}}</option>
                                        {% endif %}
                                    {% endfor %}

							</select>
						</div>
						<label class="col-md-0"><i class="fa fa-asterisk"> 必填</i></label>
					 </div>
					<div class="form-group">
						<label class="col-md-2 control-label">角色:</label>
						<div class="col-md-4"><!--  multiple="multiple" id="selectproject"-->
							<select   name="role" id="selectproject"  class="validate[required] col-sm-9 js-example-basic-multiple">
								{% for role in roles%}
                                    {% if role in userinfo.get_user_role_name %}
                                        <option selected="selected">{{role}}</option>
                                    {% else %}
                                        <option >{{role}}</option>
                                    {% endif %}
								{% endfor %}
							</select>
						</div>
						<label class="col-md-0"><i class="fa fa-asterisk"> 必填</i></label>
					 </div>
					<div class="form-group">
						<label class="col-md-2 control-label">是否允许登录:</label>
						<div class="col-md-4">
							<div class="make-switch switch-mini" data-on="info" data-off="success" data-on-label="<i class='fa fa-check icon-white'></i>" data-off-label="<i class='fa fa-times'></i>">
                                {% if userinfo.is_active == True %}
                                    <input type="checkbox" name="islogin" checked>
                                {% else %}
                                    <input type="checkbox" name="islogin" >
                                {% endif %}
							</div>
						</div>
					 </div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">完成</button>
						<a href="{% url 'users_list' %}" type="button" class="btn btn-default" data-dismiss="modal">取消</a>
                        <button type="button" class="btn btn-waining " onclick="reset_pwd()">重置密码</button>
					</div>
			   </form>
		  	</div>
		  	</div>
</div>
{% endblock %}





